pandas
transformers
datasets
tokenizers
redis
tqdm
fire
scikit-learn
scipy
# torch==1.12.0
grpcio==1.51.3
grpcio-tools==1.51.3
pytest
pydantic-argparse
pydantic
wandb
safetensors
rouge-score
openpyxl
aimrocks
accelerate
